* {
	box-sizing: border-box;
}


body {
	background-image: url("../img/backgary1.jpg");
	color: blue;
	font-weight: bold;
}

header,
.nav,
.content {
	background-color:rgba(255, 255, 255, 0.5);
}	


.wrapper {
	width: 900px;
	margin: 0 auto;
}

header {
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
}

.nav {
	text-align: center;
}

.nav ul {
	margin: 0;
	padding: 20px 0 0 0;
}

.nav li{
	display: inline-block;
	text-align: center;
	color: #00ff00;
	font-size: 25px;
	font-weight: normal;
	border: 10px;
	border-style: ridge;
	width: 199px;
}

.content {
	text-align: center;
	width: 424px;
	padding: 20px 10px;
	border: 3px;
	border-style: ridge;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.valedict {
	text-align: left;
	display: inline;
}

#disqus_thread {
	width: 400px;
}

.adbar {
	float: right;
}

.adbar img {
	padding-top: 150px;
}